			
			
			nav {
				width: 220px;
				float: left;
				box-sizing: border-box;
				display: inline-block;
				position: fixed;
				top: 165px;
				
			}
			
			h1 {
				float: right;
				position: relative;
				right: 450px;
				
			}
			
			
			
			section {
				width: 780px;
				float: right;
				box-sizing: border-box;
				display: inline-block;
				border-style: double solid double solid;
				border-width: 5px 1px 5px 1px;
				padding: 20px 20px 20px 20px;
				margin-bottom: 20px;
				
			}
			
			figure {
				float: left;
				
			}